<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Impact Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">pandemica-service@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+61 0612345678</span></i>
        <a class="d-flex align-items-center ms-4 text-dark" href="/index"><span>Home</span></a>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->



  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contacting General Practitioner for Consultation </h2>
          <p>Want to see a General Practitioner (GP) for a one-to-one consultation? Please apply!!!</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Loftus St, Wollongong NSW 2500</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>pandemica-service@gmail.com
                  </p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>(02) 42225000</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sun: Open 24 hours</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form role="form" class="php-email-form" onsubmit="return func()">
              <input type="hidden" name="userID" class="form-control" id="userID" readonly>
              <div class="row">
                <div class="col-md-4 form-group">
                  <input type="text" class="form-control" id="name" placeholder="Your Full Name" readonly>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" id="age" placeholder="Your Age" readonly>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" id="gender" placeholder="Your Gender" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" id="phone" placeholder="Your phone" readonly>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" id="email" placeholder="Your Email" readonly>
                </div>
              </div>
              <div class="form-group mt-3">
                <select class="form-select form-select-lg" aria-label=".form-select-lg example" required name="gpName" id="gpName">
                  <option value="" selected>Choose your General Practitioner</option>
                  <option value="Mark">Mark</option>
                  <option value="Tony">Tony</option>
                  <option value="Jerry">Jerry</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" id="consultationFee" placeholder="Consultation Fee, Your must choose GC first" name="consultationFee" readonly>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="symptoms" rows="7" placeholder="Please describe your symptoms" required id="symptoms"></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" onclick="saveConsultation()">Subbmit</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">


    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Pandemica Service</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by Group 17
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
          integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    (function(){
      $("#gpName").change(function(){
         switch ($(this).val()) {
           case "Mark" : $("#consultationFee").val("Consultation Fee: $100");break;
           case "Tony" : $("#consultationFee").val("Consultation Fee: $300");break;
           case "Jerry" : $("#consultationFee").val("Consultation Fee: $500");break;
         }
      })

      var username = cookie("cookie_username");
      if (username !== "") {
        $.get("/oauth/getUserInfo/" + username, function (result) {
          if (null != result && "" !== result) {
            $("#name").val("Full name: "+result.lastName + result.firstName);
            $("#email").val(result.email);
            $("#phone").val("(+61) "+result.phoneNumber);
            $("#age").val("age: "+result.age);
            $("#gender").val("gender: "+result.gender);
            $("#userID").val(result.userID);

            $.get("/mhs/"+result.userID, function (resultInfo){
              if(undefined === resultInfo.serviceType || resultInfo.serviceType !== "2"){
                alert("You have NOT chosen contact General Practioner service . please apply firstly");
                window.location.href="/mentalHealthSupport"
              }
            })
          } else {
            alert("user does not exist !!! return the index");
            window.location.href="/userAccount/login";
          }

        })
      }else {
        alert("You are not logged in. go log in again!!!");
        window.location.href="/index";
      }

    })()
    function func () {
      return false;
      }

    function cookie(name){
      var cookieArray=document.cookie.split("; ");
      var cookie=new Object();
      for (var i=0;i<cookieArray.length;i++){
        var arr=cookieArray[i].split("=");
        if(arr[0]==name)return unescape(arr[1]);
      }
      return "";
    }


    function saveConsultation(){
      var confirmed=confirm("Are you sure to submit your Consultation info?")
      if (confirmed){
        var consultationData={};
        consultationData.userID=$("#userID").val();
        consultationData.gpName=$("#gpName").val();
        consultationData.consultationFee=$("#consultationFee").val().slice($("#consultationFee").val().indexOf("$")+1,);
        consultationData.symptoms=$("#symptoms").val();
        console.log(consultationData)
        $.ajax({
          type:"post",
          dataType:"text",
          contentType:"application/json; charset=utf-8",
          url:"/oauth/saveConsultation",
          data: JSON.stringify(consultationData),
          success:function (result){
            var resultObj = JSON.parse(result);
            alert(resultObj.returnInfo);
            if(resultObj.stateValue === "true"){
              setTimeout(()=>{
                window.location.href="/index";
              },1000)

            }
          },
          error:function (){
            alert("request failed!!")
          }
        });
      }


    }
  </script>

</body>

</html>