<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csci927.pandemicamentalhealth.mapper.ConsultationMapper">

    <resultMap id="BaseResultMap" type="com.csci927.pandemicamentalhealth.bean.Consultation">
        <id column="userID" property="userID" />
        <result column="consultationType" property="consultationType" />
        <result column="consultationFee" property="consultationFee" />
        <result column="gpUserID" property="gpUserID" />
        <result column="gpName" property="gpName" />
    </resultMap>

    <sql id="Base_Column_List">
        userID,gpName, consultationFee, symptoms
    </sql>

    <select id="selectByUserID" parameterType="java.lang.String" resultType="com.csci927.pandemicamentalhealth.bean.Consultation">
        select <include refid="Base_Column_List"/> from consultation where userID = #{userID};
    </select>

    <insert id="insertInfo" parameterType="com.csci927.pandemicamentalhealth.bean.Consultation">
        insert into consultation(<include refid="Base_Column_List"/>) values (#{userID},#{gpName},#{consultationFee},#{symptoms});
    </insert>
</mapper>
